// Variables
$red: #ad0000;

// Placeholder selectors
%transition {
  transition: all .25s;
}

/*=Typography=*/

html {

}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.25em;
  /*padding: 1rem;*/
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}
.navbar-brand{
  font-weight: 800;
  margin-left: 5em;
}
/*.main-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-size: 2.5em;
  color: black;
}*/
.main-sub {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-size: .75em;
  /*padding-top: 2em;*/

}
.container > h1 {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  padding: 20em;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
}
.h3 {
  text-align: center;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  line-height: 1.75;
}
.sec-black-box{
  height: auto;
  width: 100%;
  background-color: #212121;
  padding: 1.5em;
}

/*.sec-about a {
  text-decoration: none;
  font: #64b5f6;*/
}
.contact-link {
  font-color: #2c97a6;
}
.footer-text{
  font: #ffffff;
  text-align: center;
  font-size: .75em;
}
.sec-services h2 {
  font-weight: 200;
  text-align: center;
}
.sec-services p {
  font-weight: 200;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
  text-align: left;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  @extend %transition;
}

hr {
  margin-bottom: 3em;
  width: 10%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

/*Header*/

.navbar-default {
  background: #fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $red;
}

.navbar-default .navbar-nav>li>a:active {
  color: darken($red, 5%);
}

/*Main*/

/*.sec-main {
  position: relative;
  height: 550px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Wheeler_Hall--UC_Berkeley--Panoramic.jpg/1200px-Wheeler_Hall--UC_Berkeley--Panoramic.jpg');
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 10%;
  margin: auto;
  height: 40px;
  color: #fff;
}
.hightlight{
 background-color: rgba(0,0,0,0.65);
 position: absolute;
 height: auto;
 width: 100%;
 font-family: Verdana, Geneva, sans-serif;
 color: #FFF;
 bottom: 0;
 z-index: 1;
}*/

/*About*/
.sec-about {
  background-color: #f5f5f5;
}
.sec-about a {
  color: #2c97a6;

  &:hover,
  &:focus {
    color: $red;
  }
}

/*Services*/

.sec-services {
  background: #e0e0e0;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

/*.sec-services .fa-paint-comments {
  width: 64px;
}

.sec-services .fa-keyboard {
  width: 68px
}
*/
.sec-services h2 {
  margin: 0;
}
.service-apps {
  font-style: italic;
  text-align: left;
  color: #2c97a6;
  font-size: 1.25em;
  line-height: 1.5em;
}

.sec-folio {
  background: #f5f5f5;
}
/*Testimonials*/

.sec-testimonials {
  background: #e0e0e0;
}

/*Contact*/
.sec-contact {
  background-color: #f5f5f5;
}

.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;

  @extend %transition;

  &:hover,
  &:focus {
    background: $red;
    border-color: darken($red, 10%);
  }
}

/*Footer*/

footer {
  background: #212121;
}
footer p{
  color:#ffffff;
  text-align: center;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;

  &:hover,
  &:focus {
    color: $red;
  }
}

.module {
  /*background: url(http://d13pix9kaak6wt.cloudfront.net/background/ucberkeley_1354055417_39.jpg);*/
  background: url("../images/wheeler-1200x550.jpg")no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  /*padding-top: 56.25%;*/
}
.module > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}
.module > header::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.module > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}
.module > header > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: .15em;
  font-family: 'Playfair Display SC', serif;
}

* {
  box-sizing: border-box;
}
/*back to top code*/
#button {
  display: inline-block;
  background-color: #6699cc;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#button {
  margin: 30px;
}
